apiVersion: v1
kind: Service
metadata:
  name: music-store
  namespace: music-store
  labels:
    app: music-store
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: music-store
